# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual Environment
venv/
env/
*.env

# IDE and Editor Files
.vscode/
.idea/
*.swp
*.swo

# Distribution / Packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl

# Pytest
*.coveragerc
.coverage
nosetests.xml
coverage.xml
*.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Unit test output
test_output/

# dotenv
.env
.env.*

# Python-specific
pylint-disable/
mypy.ini